*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color: brown;
} */
section{
    padding: 100px;
    min-height: 225vh;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #48d1cc;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: black;
}
.banner .content p{
    font-size: 1em;
    color: black;
}
.btn{
    font-size: 1em;
    color: #48d1cc;
    background: black;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.25s;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 10000;
}
header .logo{
    color: black;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    margin-left: 1px;
    margin-top: 20px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    margin-left: 20px;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
}
.btn{
    background-color: black;
    border: black;
    color: #48d1cc;
    /* cursor: pointer;
    box-shadow: 0px 0px 10px #007bff; */
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}
.menu{
    background: #8888;
}
.menu .slide{
    width: 100%;
    height: 550px;
    margin: -65px auto;
    margin-bottom: 30px;
}
.menu .slide img{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: hidden;
    border-radius: 4px;
}
.menu .content{
    height: 300px;
    width: 15%;
    margin-top: 80px;
    margin-left: 140px;
    color: black;
    padding: 10px 10px;
    float: left;
    border-radius: 5px;
}
.menu .content h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.menu .content li{
    list-style: decimal;
    padding: 6px 10px;
    font-size: 13pt;
    cursor: pointer;
}
.menu .card{
    width: 145px;
    height: 200px;
    float: left;
    top: 20px;
    margin: 70px 20px -70px 10px;
    cursor: pointer;
    position: relative;
    margin-bottom: 35px;
}
.menu .card img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.menu .card a.add-to-buy{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #48d1cc;
    color: black;
    padding: 10px 0px;
    position: absolute;
    bottom: -100px;
    width: 100%;
    transition-timing-function: 0.5s ease-in-out;
    opacity: 0.7;
    border-radius: 10px;
}
.menu .card:hover a.add-to-buy{
    bottom: 37px;
}
.menu .card a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 3px;
}
.menu .card p{
    font-style: italic;
    color: #700000;
}
.menu .card button{
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #f0fff0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.menu .card button:hover{
    background-color: #faf0b6;
}

footer{
    display: block;
    background-color: #48d1cc;
    padding: 20px 0px 10px 0px;
} 
.copyright{
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-top: 1px solid #fff;
}
.copyright a{
    color: black;
}
#wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.headline{
    text-align: center;
    margin: 40px 0px;
}
/* h3{
    font-size: 18px;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid black;
    display: inline-block;
    font-weight: 600;
    color: darkblue;
}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis: 15%;
    margin-bottom: 30px;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.products li .product-top{
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb{
    display: block;
}
ul.products li:hover .product-top .product-thumb img{
    filter: opacity(80%);
}
ul.products li .product-top .product-thumb img{
    display: block;
}
ul.products li .product-top a.add-to-buy{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: orchid;
    color: whitesmoke;
    padding: 10px 0px;
    position: absolute;
    bottom: -100px;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.7;
}
ul.products li:hover a.add-to-buy{
    bottom: 0px;
}
ul.products li .product-info{
    padding: 10px;
}
ul.products li .product-info a{
    display: block;
    text-decoration: none;
}
ul.products li .product-info a.product-category{
    font-size: 11px;
    color: #9e9e9e;
    text-transform: uppercase;
    padding: 3px 0px;
}
ul.products li .product-info a.product-name{
    color: darkolivegreen;
}
ul.products li .product-info .product-price{
    color: violet;
    font-weight: 600;
} */